* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #E5E5E5;
}

.text_decoration-none {
    text-decoration: none;
    color: black;
}

.viewport {
    mix-blend-mode: normal;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    background-size: cover;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(./images/background-for-about_us.png);
    z-index: 8;
}

.viewport::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background: #4F4F52;
    opacity: 0.5;
}

.main1 {
    height: 100vh;
    position: relative;
    z-index: 10;
    left: 0;
    right: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    height: 33px;
}

.links {
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 15px;
}

.tyyle_block {
    position: absolute;
    left: 50%;
    top: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tytle {
    font-weight: 600;
    font-size: 48px;
    line-height: 63px;
    color: #FFFFFF;
}

.under_tytle {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
}

.START {
    margin-top: 50px;
    padding: 8px 16px;
    height: 40px;
    width: 140px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #344767;
}

.description {
    width: 98%;
    margin: 0 auto;
    margin-top: -40px;
    z-index: 100;
    position: relative;
    padding: 77px 160px;
    box-shadow: 0px 2px 6px rgba(151, 172, 198, 0.25);
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.des {
    max-width: 1272px;
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.left_des {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 278px);
    grid-auto-rows: 136px;
    grid-gap: 20px;
}

.blocks_description {
    background-color: white;
}

.name {
    font-weight: 600;
    font-size: 20px;
    color: #344767;
    margin-top: 18px;
}

.greey_text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #7B809A;
}


.wwww {
    position: relative;
    width: 408px;
    height: 436px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top {
    font-weight: 500;
    font-size: 20px;
    color: #344767;
    margin-top: -100px;
}

.top_small {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #7B809A;
    margin-top: 9px;
}

.start {
    position: absolute;
    background: linear-gradient(180deg, #439DEE 0%, #1E78E9 100%);
    box-shadow: 0px 2px 6px rgba(40, 129, 235, 0.36);
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    height: 30px;
    width:  120px;
    color: #FFFFFF;
    bottom: 32px;
}

.black{
    width: 98%;
    margin: 0 auto;
}

.main{
    width: 98%;
    background-color: white;
    margin: 0 auto;
    padding: 38px 0 0 0;
    border-radius: 0 0 10px 10px;
}

/* .description {
    width: 98%;
    margin: 0 auto;
    margin-top: -40px;
    z-index: 100;
    position: relative;
    padding: 77px 160px;
    box-shadow: 0px 2px 6px rgba(151, 172, 198, 0.25);
    border-radius: 10px 10px 0 0;
    background-color: white;
} */