* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

#reg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./images/BackgroundImage.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background: #191919;
        opacity: 0.4;
    }
    .amr {
        color: white;
        position: relative;
        z-index: 11;
        top: -150px;
    }
    .blue {
        width: 361px;
        height: 126px;
        background: #3b68d0;
        display: flex;
        z-index: 100;
        align-items: center;
        margin: 0 auto;
        color: white;
        position: absolute;
        top: 300px;
        justify-content: center;
        border-radius: 17px;
    }
    .modal {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        z-index: 15;
        form {
            z-index: 99;
            width: 408px;
            height: 471px;
            background: #ffffff;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            display: flex;
            padding: 100px 22px 22px 22px;
            justify-content: center;
            flex-direction: column;
            grid-gap: 14px;
            input {
                background: #ffffff;
                border: 1px solid #c7ccd0;
                border-radius: 8px;
                height: 42px;
                width: 361px;
                border-radius: 8px;
                outline: none;
                padding: 16px 11px;
            }
            input[type="checkbox"] {
                position: absolute;
                height: 20px;
                left: -35%;
                z-index: 100;
                margin-top: -5px;
                opacity: 0;
            }
            .switch {
                display: flex;
                align-items: center;
                margin-left: 10px;
                .around {
                    z-index: 10;
                    position: relative;
                    width: 30px;
                    height: 15px;
                    background: #c7ccd0;
                    border-radius: 7.5px;
                    transition: 0.3s ease;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        left: -5px;
                        top: -3.2px;
                        transition: 0.3s ease;
                        background: #ffffff;
                        border: 1px solid #c7ccd0;
                        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
                    }
                }
                label {
                    margin-left: 13px;
                    margin-top: -3px;
                }
                input[type="checkbox"]:checked ~ .around {
                    &::before {
                        left: 15px;
                        background: #ffffff;
                        border: 1px solid #c7ccd0;
                        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
                    }
                }
            }
            button {
                background: #3b68d0;
                border-radius: 9px;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 12px;
                width: 200px;
                height: 35px;
                line-height: 140%;
                color: #ffffff;
                border: none;
                margin: 0 auto;
                margin-top: 50px;
            }
            p {
                color: #7b809a;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                margin: 30px auto 0;

                span {
                    font-weight: 800;
                    color: #e91f63;
                }
            }
        }
    }
}

#home {
    .black {
        background: linear-gradient(180deg, #3e3d45 0%, #202020 100%);
        color: white;
        padding: 61px 0 211px;
        h1 {
            font-weight: 600;
            font-size: 48px;
            line-height: 63px;
            text-align: center;
            margin-bottom: 85px;
        }
        table {
            margin: 0 auto;
            table-layout: fixed;
            th {
                border: 1px solid #4d4d4d;
            }
            border-collapse: collapse;
            thead {
                tr {
                    background-color: #3b68d0;
                    th {
                        width: 35px;
                        font-size: 14px;
                        height: fit-content;
                        padding: 10px 10px;
                    }
                }
            }
            tbody {
                background-color: #d4d4d4;
                color: black;
                tr {
                    width: fit-content;
                    th {
                        width: fit-content;
                        padding: 10px;
                    }
                }
                input {
                    border: none;
                    padding: 0 10px;
                    outline: none;
                    background-color: transparent;
                }
            }
        }
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        // margin-top: 38px;
        h1 {
            margin-bottom: 100px;
            font-weight: 700;
            font-size: 36px;
            line-height: 140%;
            color: #344767;
        }
        .counter {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            .wrap {
                display: flex;
                grid-gap: 45px;
                .item {
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    width: 300px;
                    input {
                        font-weight: 600;
                        font-size: 48px;
                        line-height: 56px;
                        text-align: center;
                        color: #1a73e7;
                        outline: none;
                        border: none;
                        background-color: transparent;
                    }
                    label {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 23px;
                        text-align: center;
                        color: #344767;
                        margin-top: 10px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        margin-top: 13px;
                        text-align: center;
                        color: #7b809a;
                    }
                }
            }
        }
        .answer {
            margin: 100px 0;
            h1 {
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
                color: #000000;
                margin-bottom: 30px;
            }
            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
                text-align: center;
                color: #7b809a;
                max-width: 517px;
            }
        }
    }
}
